.body {
    margin: 0px;
    font-family: sans-serif;
    .main {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .todo {
            .header {
                background-color: #A8E4A0;
                border-radius: 5px;
                width: 320px;
                .header-h {
                    h2 {
                        margin: 0px;
                        padding: 10px;
                        text-align: center;
                        font-weight: 300;
                    }
                }
                .header-window {
                    display: flex;
                    justify-content: space-evenly;
                    padding-bottom: 10px;
                    .input-text {
                        width: 242px;
                        outline: none;
                    }
                    .input-button {
                        width: 40px;
                    }
                }
            }
            .items {
                .item {
                    width: 316px;
                    min-height: 40px;
                    border: 2px;
                    border-radius: 5px;
                    border-style: solid;
                    border-color: #A8E4A0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 5px;
                    .itemP {
                        p {
                            width: 280px;
                            margin: 0px;
                            padding: 5px;
                        }
                    }
                    .itemImg {
                        padding-right: 5px;
                        a {
                            color: grey;
                            transition: .1s;
                        }
                        a:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
